@charset "utf-8";

/*
base
*/
body {
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #eee;
}

/*
box
*/
.box {
    background-color: #ffffff;
    padding: 0px 100px 30px 100px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    box-shadow: 5px 5px 5px #333;
}

/*
section
*/
.section {
    display: flex;
    text-align: center;
    justify-content: center;
}

/*
form
*/
.input {
    width: 250px;
    max-width: 300px;
}

@media screen and (max-width: 1000px) {
    .form-table tr {
        display: block;
        margin-bottom: 20px;
    }

    .form-table th,
    .form-table td {
        display: block;
        width: 100%;
    }
}

/*
button
*/
.button {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: #333;
    text-align: center;
    padding: 15px 60px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
}